<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="window.location.href = '/acc/create';">Create</button>
  <button class="tablinks" onclick="window.location.href = '/acc/modify';">Modify</button>
  <button class="tablinks" onclick="window.location.href = '/acc/del';">Delete</button>
  <button class="tablinks" onclick="window.location.href = '/acc/show';">Show</button>
</div>
<p name= colours method="POST" action="/">
{{colours}}
</p>

<form action="/insertAcc">
  Name: <input type="text" name="name"><br>
  Account Type: <input type="text" name="accType"><br>
  Starting Date: <input type="date" name="sdate"><br>
  Starting Balance:<input type="text" name="bal"><br>
  <input type="submit" value="Submit">
</form>