<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMDA</title>
</head>
<body>
<p align="center">
 <button align="center" onclick="window.location.href = '/acc';" style="font-size : 20px; width: 50%; height: 100px; ">Accounts </button><br>
 <button align="center" onclick="window.location.href = 'test.html';" style="font-size : 20px; width: 50%; height: 100px;">Accounts Entry</button><br>
 <button align="center" onclick="window.location.href = 'test.html';" style="font-size : 20px; width: 50%; height: 100px;">Accounts Report</button><br>
 </p>
</select>
</body>
</html>
